:root {
  --color-primary: rgb(114, 28, 194); /* для кнопок */
  --color-primary-hover: #4c0a8a;
  --color-accent: #9333EA; /* текстові акценти */
  --color-light-accent: #C084FC; /* світліша версія акценту */
  --color-border-purple: #C084FC; /* для підкреслень */
  --color-decor-pink: rgb(190, 24, 93); /* прямокутник */
  --color-decor-orange: rgb(194, 65, 12); /* бордер */
  --color-black: black;
  --color-white: white;
  --color-background: #192131;
  --color-body-background: rgb(15, 23, 42);
}