.header {
    grid-area: my-header;
    display: grid;
}

.main {
    grid-area: my-main;
}

.section-form {
    grid-area: my-section-form;
}

.footer {
    grid-area: my-footer;
}
 
body {
    display: grid;
    grid-template-areas: 
        "my-header"
        "my-main"
        "my-section-form"
        "my-footer";
}

.header {
    background-image: url("img/header1.jpg");
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 400px;
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.nav {
    display: grid;  
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding-top: 10px;
  }
  
  .ul-header {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
  }
  
  li {
      list-style: none;   
  }
  
  a {
      text-decoration: none;
      font-weight: 600;
      color: black;
      transition: 0.3s;
  }
  a:hover {
       color: white;
   }

  .head {
    display: grid;
    grid-template: 50px 200px 50px / 0.5fr;
    align-content: center;
    justify-content: center;
}

h1, .head h2 {
    text-align: center;
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 20px;
    letter-spacing: 3px;
 }

 #circle {
    background-color:  rgb(102, 216, 191);
    border: none;
    width: 50px;
    border-radius: 50%;
    justify-self: center;
    cursor: pointer;
 }

 .head p {
    text-align: center;
    margin-top: 40px;
 }

 .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#hello {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    column-gap: 30px;
    padding-bottom: 80px;
}

.text-hello {
    grid-row-start: 1;
    grid-column-start: 2;
    padding-top: 100px;
}

#hello img, .project img {
    grid-row-start: 1;
    grid-column-start: 3;
    width: 90%;
    height: 300px;
    align-self: center;
    padding-top: 70px;
}

#btn {
    background-color: grey;
    padding: 10px;
    width: 40%;
    border-radius: 25px;
    cursor: pointer;
    border: none;
}

#btn:hover {
    background-color: rgb(211, 207, 207);
}

#about {
    background-color: rgb(221, 246, 253);
    display: grid;
    grid-template-rows: 0.7fr 0.5fr 0.5fr 1fr;
    grid-template-columns:  0.5fr 1fr 1fr 0.5fr;
    grid-column-gap: 40px;
}

#about h3, #about p:nth-child(2), .icons, .project h3, .project p:nth-child(2), #services h3, #portfolio h3, #portfolio p:nth-child(2), #teams h3, #teams p:nth-child(2), #blog h3, #blog p:nth-child(2) {
    grid-column: 1/5;
    justify-self: center;
}

.onep {
    grid-column: 1/5;
    justify-self: center;
    padding: 0 100px;
}

#about h3 {
    margin-top: 100px;
    align-self: center;
}

#about p:nth-child(2), .proj-p, .onep {
    padding-left: 100px;
    padding-right: 100px;
}
.icons img, #i1, footer img {
    width: 40px;
    height: 40px;
}

.icons img{
   padding: 20px 20px 0 20px;
}

#about p:nth-child(4) {
    grid-row-start: 4;
    grid-column-start: 2;
}
#about p:nth-child(5) {
    grid-row-start: 4;
    grid-column-start: 3;
}

.project {
    display: grid;
    grid-template-rows: 0.3fr 0.2fr 1.2fr 0.4fr;
    grid-template-columns: 2fr 1fr 1fr;
    padding-top: 50px;
}
.project img:nth-child(3) {
    grid-row-start: 3;
    grid-column-start: 1;
}
.project img:nth-child(4) {
    grid-row-start: 3;
    grid-column-start: 2;
}
.project img:nth-child(5) {
    grid-row-start: 3;
    grid-column-start: 3;
}

#proj1 {
    width: 100%;
}

.sub {
    display: grid;
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: aqua;
    padding: 0 50px;
}

.sub button {
    justify-self: end;
    grid-row-start: 1;
    width: 100px;
    border-radius: 25px;
    align-self: center;
}

.sub p {
    grid-row-start: 1;
    align-self: center;
}

#services {
    display: grid;
    grid-template-columns: 10%  10% 30% 30% 10% 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.4fr 0.8fr;
    grid-column-gap: 15px;
}
.icon {
    display: grid;
    grid-row-start: 3;
    grid-column-start: 2;
    justify-self: end;
    padding-top: 30px;
    padding-right: 40px;
    
}
.text {
    display: grid;
    grid-row-start: 3;
    grid-column-start: 3;
}
.circles {
    display: grid;
    grid-row-start: 3;
    grid-column-start: 4;
    grid-template-columns: 1fr 1fr 1fr;
    
}

#c1 {
    width: 80px;
    height: 80px;
    border-radius: 30px 30px 30px 30px;
    align-self: center;
    justify-self: end;
   
}

.black-block {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column: 1 / 6;
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 7;
    background-color: black;
    color: white;
}

#monitor {
    width: 90%;
    height: 80%;
    padding-top: 20px;
    grid-column-start: 2;
    grid-row-start: 1;
}
.black-block p:nth-child(1) {
    grid-column-start: 1;
    grid-row-start: 1;
    padding: 40px 40px 20px 40px;
}

#portfolio, #teams, #blog {
    display: grid;
}

.ul-portf {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
}

.li-item1 {
    grid-column-start: 4;
}
.li-item2 {
    grid-column-start: 5;
}
.li-item3 {
    grid-column-start: 6;
}
.li-item4 {
    grid-column-start: 7;
}
.li-item5 {
    grid-column-start: 8;
}
.li-item6 {
    grid-column-start: 9;
}
.li-item7 {
    grid-column-start: 10;
}

#portfolio {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 100px minmax(600px, 900px);
}

.gallery {
    display: grid;
    grid-template-columns: 0.5fr repeat(4, 1fr) 0.5fr;
    grid-template-rows: repeat(10, 7vw);
    grid-gap: 10px;
    grid-row-start: 4;
    grid-column-start: 1;
}
.gallery-img{
    width: 100%;
    height: 100%;
   object-fit: cover;
}
.box1 {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
}
.box2 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;   
}
.box3 {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 4;
}
.box4 {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 5;
}
.box5 {
    grid-row-start: 4;
    grid-row-end: 7;
    grid-column-start: 2; 
}
.box6 {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 3; 
}
.box7 {
    grid-row-start: 4;
    grid-row-end: 7;
    grid-column-start: 4; 
}
.box8 {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 5; 
}
.box9 {
    grid-row-start: 7;
    grid-row-end: 9;
    grid-column-start: 2; 
}
.box10 {
    grid-row-start: 6;
    grid-row-end: 9;
    grid-column-start: 3; 
}
.box11 {
    grid-row-start: 7;
    grid-row-end: 9;
    grid-column-start: 4; 
}
.box12 {
    grid-row-start: 6;
    grid-row-end: 9;
    grid-column-start: 5; 
}

.box-teams {
    display: grid;
    grid-template: 1fr 0.5fr / 1fr 1fr;
}

.team-skill {
    text-align: end;
    padding-right: 10%;
    padding-left: 10%;
    width: 70%;
}

.teams-img {
    width:80%;
    padding-left: 30%;
}

.line {
    display: grid;
    grid-template-rows: 20px 20px 20px;
    padding-left: 20%;
    padding-top: 20%;
    
}

.line-s {
    background-color: rgb(22, 22, 24);
    width: 70%;
    height: 3px;
   
}
.sub-team {
    margin-top: 80px;
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(63, 70, 70);
    padding: 0 50px;
}

.sub-team button {
    justify-self: center;
    grid-row-start: 1;
    width: 80px;
    border-radius: 25px;
    align-self: center;
}

.sub-team p {
    grid-row-start: 1;
    align-self: center;
    color:rgb(229, 247, 247);
}

#blog {
    display: grid;
    grid-template: 100px 100px 200px 500px / 7% 1fr 7%;
}

.box-blog {
    grid-row: 3/4;
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
} 

.blog-img {
    border-radius: 50%;
    width: 90%;
    height: 100%;
    grid-row: 1/2;
    grid-column: 2/3;
}

.blog-text {
    grid-row: 1/2;
    grid-column: 3/5;
    width: 70%;
}

.news {
    margin: 100px auto 0;
    grid-row: 4/6;
    grid-column: 1/4;
    display: grid;
    background-image: url("./img/auto_import.jpg");
    grid-template: 100px 200px / 7% 40% auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.top1 {
    padding-top: 20px;
    grid-row: 1/1;
    grid-column: 2/4;
}

.top2 {
    margin-top: 20px;
    grid-row: 2/3;
    grid-column: 2/3;
    padding-left: 30px;
}

.price {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px 100px 245px;
    grid-gap: 25px;
}

.price h3, .subscribe h3, .cont-box h3, .footer h2 {
    grid-row: 1;
    grid-column: 3;
    justify-self: center;
}
.text-price {
    grid-row: 2;
    grid-column: 2/4;
}
.paket1, .paket2, .paket3 {
    border: 1px solid green;
}

.paket1 {
    grid-row: 3/4;
    grid-column: 2/3;
    text-align: center;
    background-image: url("./img/price1.jpeg");
    background-size:  25vmax;
    background-repeat: no-repeat;
    background-position: -90px;
}


.paket2 {
    grid-row: 3/4;
    grid-column: 3/4;
    text-align: center;
    background-image: url("./img/price2.jpg");
    background-size:  25vmax;
    background-repeat: no-repeat;
    background-position: -90px;
}
.paket3 {
    grid-row: 3/4;
    grid-column: 4/5;
    text-align: center;
    background-image: url("./img/price3.jpeg");
    background-size:  25vmax;
    background-repeat: no-repeat;
    background-position: -90px;
}

.subscribe {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px 100px 40px;
    grid-gap: 25px;
    background-color: aquamarine;
    padding-bottom: 60px;
}

.subscr {
    grid-row: 3/4;
    grid-column: 2/3;
    align-self: end;
    padding: 5px;
}
#subscr-btn {
    grid-row: 3/4;
    grid-column: 3/4;
    width: 15vw;
}

.contact-wrap {
    display: grid;
    grid-template: 1fr 0.6fr / 1fr;
}
.cont-box {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: 100px 100px 200px 70px;
grid-gap: 25px;
}
.cont1, .cont2, .cont3 {
    border: 1px solid green;

}

.cont1 {
    grid-row: 3/4;
    grid-column: 2/3;
}
.cont2 {
    grid-row: 3/4;
    grid-column: 3/4;
}
.cont3 {
    grid-row: 3/4;
    grid-column: 4/5;
}

.block-img {
    width: 100%;
    height: 60%;
    background-color: rgb(207, 198, 216);
    text-align: center;
}

#cont2-img {
    width: 53%;
}

.test {
 padding-left: 30px;
}

#contact {
    display: grid;
    grid-template: 40px 150px 50px /18% 21% 21% 21% 18% ;
    grid-gap: 25px;
    background-image: url("./img/contact.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}
#input-contact1 {
    grid-row: 1/2;
    grid-column: 2/3;
}
#input-contact2 {
    grid-row: 1/2;
    grid-column: 3/4;
}
#input-contact3 {
    grid-row: 1/2;
    grid-column: 4/5;
}

#input-area {
    grid-row: 2/3;
    grid-column: 2/5;
}

#input-btn {
    grid-row: 3/4;
    grid-column: 3/4;
    cursor: pointer;
    background-color: silver;
    border: none;
}

#input-btn:hover {
    background-color: azure;
}

.map-wrap {
    display: grid;
    width: 100%;
    height: 60%;
    justify-self: center;
}

footer, #teams, .box-teams {
    background-color: rgb(196, 196, 219);
}

footer {
    display: grid;
    grid-template: repeat(3, 1fr) /repeat(5, 1fr);
    justify-content: center;
}
.footer p {
    grid-row: 2;
    grid-column: 3;
    justify-self: center;
}

.foot-img {
    grid-row: 3;
    grid-column: 3;
    justify-self: center;
}


@media screen and (max-width: 992px) {
    .nav ul {
        display: none; 
    }

}
@media screen and (max-width: 768px) {
    .nav ul {
        display: none; 
    }
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        grid-template-rows: repeat(9, 1fr);
    }
    .black-block {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }

    .subscr, #subscr-btn {
        grid-row-start: 4;
    }
    #hello img {
        height: 38%;
    }

    .head h2, #circle {
        display: none;
    }
}
@media screen and (max-width: 576px) {
    .nav ul {
        display: none; 
    }

    .news {
        grid-template: 100px 200px / 1fr;
    }

    .price {
        grid-template-rows: 100px 150px 245px;
    }
    
    .subscribe, #hello {
        grid-template-columns: 1fr;
    }

    .footer {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .foot-img, .footer h2, .footer p {
        grid-column: 2;
    }

    #hello {
        grid-template-rows: 1fr 1fr;
    }

    #hello img {
        grid-column-start: 2;
        grid-row-start: 2;
        width: 70%;
        height: 300px;
    }

    #about {
        grid-template: repeat(5, 100px) / 400px; 
    }
    #about p, .icons {
        justify-self: center;
    }
    #about h3 {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-column-gap: 0;
        align-self: center;
    }

    .header {
        width: 100%;
        background-position: center;
        background-size: cover;
    }
    .paket1, .paket2, .paket3 {
        background-position: 0;
    }
    #about p:nth-child(4) {
        grid-column-start: 1;

    }
    #about p:nth-child(5) {
        grid-row-start: 5;
        grid-column-start: 1;
    }

    .blog-img {
        width: 100%;
        height: 50%;
    }
    .news {
        margin-top: 140px;
    }
    #contact {
        grid-template: 40px 150px 50px /10% 21% 21% 21% 18%;
    }
} 