<div>
  <h2>Update Note</h2>
  <form (ngSubmit)="update()" class="mb-3 createForm">
    <label for="title">Title:</label>
    <input type="text" id="title" [(ngModel)]="note.title" name="title" class="input-group mb-3" required>
    <label for="desc">Description:</label>
    <textarea id="desc" [(ngModel)]="note.description" name="desc" class="input-group mb-3" required></textarea>
    <label for="color">Color:</label>
    <input type="text" id="color" [(ngModel)]="note.color" name="color" class="input-group mb-3">
    <button type="submit">Edit</button>
    <button (click)="goBack()">Back</button>
  </form>
</div>
