/* Загальні стилі */
body {
  box-sizing: border-box;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 500px auto 100px;
}

/* Основні блоки */
.footer, .main, .header {
  display: grid;
}

/* Навігація */
.nav {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  justify-content: center;
  align-items: center;
  background-color: #333; /* Колір фону для видимості */
}

.nav h2 {
  padding-left: 50%;
  font-style: italic;
  color: white; /* Колір заголовка */
}

.nav ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  font-weight: 600;
  color: white;
  transition: color 0.3s;
}

.nav ul li a:hover {
  color: #f39c12;
}

/* Заголовок */
.header {
  background-image: url('./img/3a576b67f403c41dcc0c49750f40519a.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: grid;
  grid-template-rows: 70px 330px;
}

/* Блоки в header */
.head {
  display: grid;
  grid-template: 50px 150px 50px / 1fr;
  text-align: center;
  align-content: center;
  justify-content: center;
}

h1 {
  font-size: 3em;
  margin-top: 15px;
  letter-spacing: 3px;
}

.head h2 {
  font-style: italic;
  color: rgb(230, 208, 11);
  font-weight: bold;
  margin: 0;
}

button {
  background-color: rgb(230, 208, 11);
  border: none;
  width: 200px;
  cursor: pointer;
  transition: background-color 0.3s, font-weight 0.3s;
  justify-self: center; /* Центрування кнопки */
}

button:hover {
  background-color: #f39c12;
  font-weight: bold;
}

/* Основний контент */
#benefits {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 150px auto;
  gap: 30px;
}

.box-benefit img {
  width: 52px;
  height: 52px;
  justify-self: center;
}

#benefits h3 {
  grid-column: 1 / -1;
  justify-self: center;
  font-size: x-large;
}

.box-benefit {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.box-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
}

.box-gallery img {
  width: 100%;
  height: 100%;
}

/* About Section */
#about {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 25px;
}

.box-about img {
  width: 80%;
  height: 77%;
  border-radius: 50%;
}

.text-about {
  grid-column: 2 / 4;
  text-align: center;
}

.box-about #item1 { grid-row: 1 / 2; grid-column: 3 / 4; }
.box-about #item2 { grid-row: 2 / 3; grid-column: 3 / 4; }
.box-about #item3 { grid-row: 3 / 4; grid-column: 3 / 4; }
.box-about #item4 { grid-row: 4 / 5; grid-column: 3 / 4; }
.box-about #item5 { grid-row: 5 / 6; grid-column: 3 / 4; }
.box-about #text1 { grid-row: 1 / 2; grid-column: 2 / 3; }
.box-about #text2 { grid-row: 3 / 4; grid-column: 2 / 3; }
.box-about #text3 { grid-row: 2 / 3; grid-column: 4 / 5; }
.box-about #text4 { grid-row: 4 / 5; grid-column: 4 / 5; }

/* Reviews Section */
.box-reviews {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

.block-reviews img {
  width: 77%;
  height: 87%;
  border-radius: 50%;
}

/* Partners Section */
.partners {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 100px;
  gap: 10px;
}

#logo {
  width: 150px;
  height: 100px;
}

#contacts {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 180px 50px;
  gap: 50px;
  background-color: black;
  color: white;
  padding-bottom: 100px;
}

/* Формуляр */
form {
  display: grid;
  grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
  gap: 30px;
}

form input {
  grid-column: 2 / 4;
}

form button {
  align-self: start;
  height: 50px;
}

/* Footer */
.footer {
  display: grid;
  grid-template-columns: 1fr repeat(18, 1fr);
  grid-template-rows: 100px;
}

.footer img {
  width: 42px;
  height: 42px;
}

.footer img:hover {
  transform: scale(1.2);
  filter: brightness(1.2);
}

.footer #item1 {
  grid-column: 1 / 2;
  text-align: end;
  font-weight: 500;
}

.footer #item2 { grid-column: 7 / 8; }
.footer #item3 { grid-column: 8 / 9; }
.footer #item4 { grid-column: 9 / 10; }
.footer #item5 { grid-column: 10 / 11; }

/* Button "Back to Top" */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f39c12;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

.back-to-top:hover {
  background-color: #e67e22;
}

.back-to-top.show {
  opacity: 1;
}

/* Responsive */
@media screen and (max-width: 992px) {
  .nav ul {
      display: none;
  }

  .head {
      grid-template: 50px 200px 50px / 1fr;
  }
}
